<%= form_with model: @user do |form|%>
  <div>
    <%= form.label :username, "Your username here: "%>
    <%= form.text_field :username, value: "zapxcero"%>
  </div>
  <div>
    <%= form.label :email, "Your email here:"%>
    <%= form.email_field :email, placeholder: "example@example.com"%>
  </div>
  <div>
    <%= form.label :password, "Your password here:"%>
    <%= form.password_field :password%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
